[Unit]
Description=api8.autolike.cc
ConditionPathExists=/root/Autolike.v8/api8.autolike.cc
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/Autolike.v8/api8.autolike.cc
ExecStart=/root/Autolike.v8/api8.autolike.cc/api8.autolike.cc
LimitNOFILE=102400
LimitNOFILESoft=102400
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target